<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcg.blogsystem.mapper.UserMapper">

    <select id="selectPermissions" resultType="com.xcg.blogsystem.domain.po.Permission"
            parameterType="java.lang.Long">
            select p.* from permission as p
            left join role_permission as rp on p.id = rp.permission_id
            left join user_role as ur on rp.role_id = ur.role_id
            where ur.user_id = #{userId}

    </select>
</mapper>
